[submodule "AFL"]
	path = AFL
	url = git@github.com:yiluwusbu/AFL.git
[submodule "s2e/source/qemu"]
	path = s2e/source/qemu
	url = https://github.com/S2E/qemu.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/yiluwusbu/qemu.git
